 .image {
    opacity: 1;
    transition: .5s ease;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .container:hover .image {
    opacity: 0.6;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  