@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.root{
    max-width: 345;
}

.Outer{
    border: none !important;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding-top: 8px ;
    /* padding-bottom: 8px; */
    margin: 8px;
}
.Title{
    font-weight: 700;
    font-size: 24px ;
}
.Desc{
    font-size: 16px ;
}
.Price{
    font-size: 18px;
    font-weight: 600;
}
.Outer:hover{
    cursor: pointer;
    transform: translateY(-2px) ;
    box-shadow: 1px 2px 15px rgb(177, 174, 174) ;
    transition: all 0.3s;
}
.media{
    padding-top: 56.25%;
    margin: auto;
    width: auto;
    height: 140;
}